* {
	box-sizing: border-box;
}

:root {
	background: #f9fafb;
}

body {
	padding: 4rem 2rem;
	background: #f9fafb;
	color: #111827;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background: #111827;
		color: #fff;
	}
} */
