* {
	box-sizing: border-box;
}

:root {
	background: #fdfaf4;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
	padding: 4rem 2rem;
	background: #fdfaf4;
	color: #191817;
}
table {
	width: 20%;
	margin-bottom: 2rem;
}

td {
	text-align: center;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background: #191817;
		color: #fff;
	}
} */
