---
import '../styles/global.css';


let title = 'index';
const pages = await Astro.glob('../pages/*.md'); // returns an array of posts that live at ./src/pages/*.md
const pagesSorted = pages.sort((a, b) => a.file.localeCompare(b.file)) // sort them alphabetically
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>
		<header>
			<div>
				<h1>index</h1>
				<table>
					<tr><th valign="top"><img src="/icons/blank.gif" alt="[ICO]"></th><th>name</th><th>date created</th><th>size</th></tr>
					<tr><th colspan="5"><hr></th></tr>
					<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="readme.txt">readme.txt</a></td><td align="right">2022-04-29 18:40  </td><td align="right"> 287 </td></tr>
					<tr><td valign="top"><img src="/icons/link.gif" alt="[   ]"></td><td><a href="https://github.com/snthcy/index">git.link</a></td><td align="right">2022-04-29 18:40  </td><td align="right"> 52 </td></tr>
					<tr><td valign="top"><img src="/icons/link.gif" alt="[   ]"></td><td><a href="discord.link">discord.link</a></td><td align="right">2022-04-29 18:40  </td><td align="right"> 45 </td></tr>
					<tr><th colspan="5"><hr></th></tr>
				</table>
			</div>
		</header>

		<div>
			<ul>
			{ pages.map((pagesSorted) => (<li><a href={pagesSorted.frontmatter.url}>{pagesSorted.frontmatter.title}</a></li>)) }
			</ul>
		</div>
	</main>
</body>
</html>
