---
import '../styles/global.css';
import Layout from '../layouts/default.astro';

let title = 'index';
const pages = await Astro.glob('../pages/*.md'); // returns an array of posts that live at ./src/pages/*.md
const pagesSorted = pages.sort((a, b) => a.file.localeCompare(b.file)) // sort them alphabetically
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
	<main>
		<header>
			<div>
				<div class="header">
					<img width="240" src="index.png" alt="index">
					<p>make information free again</p>
				</div>

				<br>

				<table>
					<tr><th valign="top"><img src="/icons/blank.gif" alt="[ICO]"></th><th>name</th><th>date created</th><th>size</th></tr>
					<tr><th colspan="5"><hr></th></tr>
					<tr><td valign="top"><img src="/icons/text.gif" alt="[TXT]"></td><td><a href="readme.txt">readme.txt</a></td><td>2022-04-29 18:40  </td><td> 648 </td></tr>
					<tr><td valign="top"><img src="/icons/link.gif" alt="[   ]"></td><td><a href="https://github.com/snthcy/index">git.link</a></td><td>2022-04-29 18:40  </td><td> 0 </td></tr>
					<tr><td valign="top"><img src="/icons/link.gif" alt="[   ]"></td><td><a href="https://discord.gg/U3gY6TAzCF">discord.link</a></td><td>2022-04-29 18:40  </td><td> 0 </td></tr>
					<tr><th colspan="5"><hr></th></tr>
				</table>
			</div>
		</header>

			<div>
				<h2>contents</h2>
				<ul>
					{ pages.map((pagesSorted) => (<li><a href={pagesSorted.frontmatter.url}>{pagesSorted.frontmatter.title}</a><img src="icons/new.gif"></li>)) }
				</ul>
			</div>
			<div class="badges">
				<img src="icons/brbug.gif" alt="free speech">
				<img style="padding-top: 5%;" src="icons/FreeInternetExplorerBadge.gif" alt="ie">
			</div>
	</main>
</body>
</html>
